
            <p> 
                <% if @task.errors.any?%>
                    <ul>
                        <% @task.errors.full_messages.each do |message|%>
                            <li>
                                <%= message %>
                            </li>
                        <% end %>
                    </ul>
                <% end %>
            </p>

            <p class = 'field'> 
                <%= form.label :title %>
                <%= form.text_field :title, class: "input"%>
            </p>

            <p class = 'field'>
                <%= form.label :description %> </br>
                <%= form.text_area :description, class: "input", style: "margin: 0px; width:583.6px; height: 300px;" %>
            </p>

            <p class = 'field'>
                <%= form.label :deadline %> </br>
                <%= form.date_select :deadline, class: "input", style: "margin: 0px; width:583.6px; height: 300px;" %>
            </p>

            <p>
                <%= form.submit class: "button is-gray" %>
                <%= link_to 'Back', user_categories_path, class: "button is-gray mb-2" %>
            </p>
