<div class = "columns is-centered mt-6">
    <div class = "column is-one-third">
        <h1 class = "is-size-2 has-text-weight-bold mb-3">New category</h1>

        <%= form_with model: @task, url: category_tasks_path, local: true do |f| %>

            <p> 
                <% if @task.errors.any?%>
                    <ul>
                        <% @task.errors.full_messages.each do |message|%>
                            <li>
                                <%= message %>
                            </li>
                        <% end %>
                    </ul>
                <% end %>
            </p>

            <p class = 'field'> 
                <%= f.label :title %>
                <%= f.text_field :title, class: "input"%>
            </p>

            <p class = 'field'>
                <%= f.label :description %> </br>
                <%= f.text_area :description, class: "input", style: "margin: 0px; width:583.6px; height: 300px;" %>
            </p>

            <p class = 'field'>
                <%= f.label :deadline %> </br>
                <%= f.date_select :deadline, class: "input", style: "margin: 0px; width:583.6px; height: 300px;" %>
            </p>

            <p class = 'field'>
                <%= f.label :tags%> </br>
                <%= f.select :tags, ['Sports','Personal','Education','Recreation'], class: "input", style: "margin: 0px; width:583.6px; height: 50px;"%>
            </p>


            <p>
                <%= f.submit class: "button is-gray" %>
                <%= link_to 'Back', categories_path, class: "button is-gray mb-2" %>
            </p>
        <% end %>
    </div>
</div>
