<div class = "container mt-6 is-centered">

    <div class="table-container">
          <%= link_to 'Add New Category', new_user_category_path,  class: 'button is-gray' %>

        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th> Category </th>
=                    <th> Action </th>
                </tr>
            </thead>
            
            <tbody>
                <% @categories.each do |category|%>
                    <% if category.user_id === current_user.id || category.id < 7 %>
                        <tr>    
                            <td> <%= category.name%> </td>
                            <td>                 
                                <div class = "card-footer" >
                                    <%= link_to 'Add Task', new_user_category_task_path(current_user, category.id), class: 'card-footer-item' %>
                                    <% if category.user_id === current_user.id %>
                                        <%= link_to 'Destroy', user_category_path(current_user, category.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-footer-item' %>
                                        <%= link_to 'Edit Category', edit_user_category_path(current_user, category.id), class: 'card-footer-item'%>
                                    <% end %>
                                </div>    
                            </td>
                        </tr> 
                    <% end %>
                <% end %>
            </tbody>

        </table>
    </div>
</div>